/* White mode CSS */

body {
    background-color: #FFFFFF; /* Light background */
    color: #212529; /* Dark text */
}

.stApp {
    background-color: #FFFFFF; /* Light background */
}

h1, h2, h3, h4, h5, h6 {
    color: #212529; /* Dark headings */
}

a {
    color: #007BFF; /* Bootstrap primary link color */
}

.css-18e3th9 {
    background-color: #F8F9FA; /* Light gray for input fields */
    border-color: #CED4DA; /* Gray border for input fields */
}

.dark-mode-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #212529; /* Dark button text */
}

/* Change the text color of the input field */
input {
    color: #212529; /* Dark input text */
}

/* Change the placeholder text color */
input::placeholder {
    color: #6C757D; /* Placeholder color */
}
